# -------------------------
# Python cache & artifacts
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# -------------------------
# Virtual environment
# -------------------------
venv/
.env/
.env.local
*.env

# -------------------------
# OS-specific files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Streamlit
# -------------------------
.streamlit/

# -------------------------
# VS Code
# -------------------------
.vscode/
.history/
*.code-workspace
